* {
    font-family: 微軟正黑體;
    padding: 0;
    margin: 0;
}

body {
    /* background: #000; */
}

/* 導覽列 */
nav {
    /* 定位：固定 */
    position: fixed;
    width: 100%;
    z-index: 100%;
}
#nav {
    display: grid;  
    grid-template-columns: 30% 40% 20%;
    width: 1200px;
    margin: 25px auto;
    margin-left: 25px;
}

#link {
    /* tar 靠右對齊 */
    text-align: right;
}

a {
    color: white;
    /* td 文字裝飾：無(沒有底線) */
    text-decoration: none;
    font-size: 20px;
    padding: 0 20px;
    /* 轉場：秒數s */
    transform: 0.7s;
}

a:hover {
    color: #CDBA69;
}

/* 橫幅 */
#banner {
    background-image: url(./img/banner.jpg);
    width: 100%;
    height: 100vh;
}

/* 內容區域 */
.content {
    background-image: url(./img/paper.png);
    /* height: 1200px; */
}

h1 {
    text-align: center;
    color: #3b3737;
    padding: 20px 0;
    /* fw200 文字粗細 */
    font-weight: 200;
}

/* 最新消息 */
#news {
    /* 顯示：格線模式 */
    display: grid;
    /* 格線模板欄位：重複設定(重複幾次，單位) */
    /* 1fr 一格 */
    grid-template-columns: repeat(3, 1fr);
    /* gg20 格線間距 */
    grid-gap: 10px;
    width: 1200px;
    /* height: 700px; */
    margin: 0 auto;
}

.card {
    padding: 20px 20px;
    background: #eee;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

/* 選取內容 */
/* 第一個選取 空格 第二個選取 */
.card img {
    width: 100%;
    opacity: 0.5;
    transition: 0.7s;
    height: 400px;
    /* 物件適應：封面(避免圖片壓縮) */
    object-fit: cover;
    /* 物件位置：左右 上下 */
    object-position: 1px ;
}

.card h2 {
    text-align: center;
    padding: 10px 0 0;
    letter-spacing: 10px;
}

.card h4 {
    text-align: center;
    color: #656c75;
    font-size: 14px;
    font-weight: 100;
    /* ls 文字間距 */
    letter-spacing: 15px;
}

.card p {
    height: 110px;
    color: #363030;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.7;
}

.card hr {
    height: 2px;
    background-color: #333;
    margin-top: 10px;
    margin-bottom: 10px ;
    width: 0;
    border: 0;
    transition: 0.7s;
}

/* 滑入卡片後設定水平線樣式 */
.card:hover hr {
    width: 100%;
}

.card:hover img {
    opacity: 1;
}

/* 產品區域 */
#product {
    height: 400px;
    width: 800px;
    margin: 0 auto;
    /* background-color: #333; */
    /* 文字對齊：置中(對行內元素調整對齊) */
    text-align: center;
    position: relative;
}

#product img {
    height: 450px;
    width: auto;
}

#info {
    position: absolute;
    top: 100px;
    left: 600px; 
    /* background-color: #fff; */
    width: 330px;
}

/* 取得info內所有h2 */
#info h2 {
    color: #9d2452;
    margin-bottom: 30px;
    letter-spacing: 10px;
}

#info h6 {
    color: #666;
    margin-bottom: 30px;
    letter-spacing: 5px;
    font-size: 14px;
}

#info p {
    text-align: left;
    line-height: 2.5;
    letter-spacing: 10px;
}

/* 經營理念 */
#idea {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 60px;
    width: 1000px;
    margin: 0 auto;
}

#idea-pic img {
    width: 100%;
    border: 8px solid #fff;
}

#idea-content {
    line-height: 3;
    letter-spacing: 7px;
    margin-bottom: 50px;
}

#idea-content a {
    color: #333;
    border: 2px solid #333;
    padding: 10px 20px;
    transition: 0.5s;
    font-size: 14px;
}

#idea-content a:hover {
    background-color: #333;
    color: white;
}

footer {
    background-image: url(./img/paper.png);
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 10px;
    letter-spacing: 5px;
    color: #555;
}