body {
    /* background: #000; */
}

#nav {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    width: 800px;
    /* background: #333; */
    margin: 35px auto;
    /* 定位：固定 */
    position: fixed;
}

#link {
    /* tar 靠右對齊 */
    text-align: right;
}

a {
    color: white;
    /* td 文字裝飾：無(沒有底線) */
    text-decoration: none;
    font-size: 20px;
    padding: 0 20px;
    /* 轉場：秒數s */
    transform: 0.5s;
}

a:hover {
    color: #CDBA69;
}

/* 橫幅 */
#banner {
    background-image: url(./img/banner.jpg);
    width: 100%;
    height: 1280px;
}

/* 內容區域 */
.content {
    background-image: url(./img/paper.png);
    height: 600px;
}

h1 {
    text-align: center;
    color: #555;
    padding: 20px 0;
    /* fw200 文字粗細 */
    font-weight: 200;
}